---
---
<div class="header-shell">
  <input id="menu-toggle" type="checkbox" class="menu-toggle" />
  <header class="header">
    <a href="/" class="logo">KYUNGJAE KIM</a>
    <label for="menu-toggle" class="menu-button" aria-label="Toggle menu">
      <span></span>
      <span></span>
    </label>
  </header>
  <div class="menu-overlay">
    <nav class="menu-nav">
      <a href="#">WORKS</a>
      <a href="#">PUBLICATIONS</a>
      <a href="#">CV</a>
      <a href="#">CONTACT</a>
    </nav>
  </div>
</div>
